import(ggplot2, Hmisc, stats)

#
# To generate the list of exported functions, run list_exports.sh.
#
export(
  .ls.objects,
  CalculateValueDistributions,
  CompareGLMContributions,
  CompareGLMRanges,
  CompareGLMs,
  DataFileName,
  DestDirName,
  EffectsOnVariable,
  ElementaryEffects,
  ExampleHeatmapsMDFLW,
  ExamplePartialCorrPlots,
  FitGLMsToOutputs,
  FitGLMsToPopulations,
  GLMPerformance,
  GetDescription,
  GetField,
  MakeDistributionTables,
  MakeFormula,
  MakeGLM,
  MakeHeatmapFrame,
  MakeThreshold,
  MissingParams,
  MostCorrelated,
  MostSensitiveParameters,
  ParamSignificanceOverPopns,
  PartialCorrelations,
  PartitionData,
  PlotAllFittedGLMs,
  PlotAttractors,
  PlotBarGraphOfROC,
  PlotCrossCorrelation,
  PlotCrossCorrelations,
  PlotDistsComparison,
  PlotDistsComparisonDemo,
  PlotEffectsExample,
  PlotEffectsOnAllVariables,
  PlotEffectsOnVariable,
  PlotFileName,
  PlotGLM,
  PlotHeatmap,
  PlotHistComparisonOverPopns,
  PlotHistComparisonsOverPopns,
  PlotListOfValues,
  PlotPartialCorr,
  PlotPartialCorrPVals,
  PlotPopulationGLMs,
  PlotROC,
  PlotROCs,
  RandomSubset,
  SavePlots,
  StaggerLabels,
  StepReduceSavedGLMs,
  WithCairo,
  ask,
  lsos,
  map
)
